<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Pantry</title>
  </head>
  <body>
    <a href="/users/<%= user._id %>/foods/new">Add New Item</a>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Welcome to my Pantry</h1>
    <p>This is your personal pantry manager.</p>


<h1><%= user.username %>'s Pantry</h1>

<a href="/users/<%= user._id %>/foods/new"> Add New Item</a>
<% if (user.pantry.length === 0) { %>
  <p>>There are no items in your pantry</a></p>
<% } else { %>
  <ul>
    <% user.pantry.forEach(item => { %>
      <li>
        <strong><%= item.name %></strong><% if (item.quantity != null) {%>
        -QTY: <%= item.quantity %><% } %>
<a href="/users/<%= user._id %>/foods/<%= item._id %>/edit">Edit</a>

        <form action="/users/<%= user._id %>/foods/<%= item._id %>?_method=DELETE" method="POST" style="display:inline;">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
  </ul>
<% } %>


        </body>
        </html>